# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
libs

# gradle
build
.gradle
.cache

# other
eclipse
run
directions.txt

# Files from Forge MDK
forge*changelog.txt
